<%- include('layout') %>

<title><%= title %></title>         
    
<body class="favorite-genre-body">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid favorite-genre-container-myreads">
            <!-- Brand -->
            <a class="navbar-brand fs-3 custom-navbar-brand" href="/myreads">my<span class="fw-bold">reads</span></a>
            <span class="navbar-text fs-5 ms-5">Getting Started</span>
        </div>
    </nav>
    <div class="favorite-genre-message fw-bold mt-2 fs-4 text-center">
        Next, select your favorite genres.
    </div>
    <div class="container">
        <div class="favorite-genre-second-message fw-bold mt-2 text-center">
            We use your favorite genres to make better book recommendations and tailor what you see in your Updates feed.
        </div>
    </div>
    <div class="container">
        <form action="/favorite-genre" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="row">
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('artCheckbox')">
                        <input type="checkbox" id="artCheckbox" name="genre" value="art">
                        <label for="artCheckbox">Art</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('classicsCheckbox')">
                        <input type="checkbox" id="classicsCheckbox" name="genre" value="classics">
                        <label for="classicsCheckbox">Classics</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('contemporaryCheckbox')">
                        <input type="checkbox" id="contemporaryCheckbox" name="genre" value="contemporary">
                        <label for="contemporaryCheckbox">Contemporary</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('crimeCheckbox')">
                        <input type="checkbox" id="crimeCheckbox" name="genre" value="crime">
                        <label for="crimeCheckbox">Crime</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('fictionCheckbox')">
                        <input type="checkbox" id="fictionCheckbox" name="genre" value="fiction">
                        <label for="fictionCheckbox">Fiction</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('historicalFictionCheckbox')">
                        <input type="checkbox" id="historicalFictionCheckbox" name="genre" value="historical-fiction">
                        <label for="historicalFictionCheckbox">Historical Fiction</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('historyCheckbox')">
                        <input type="checkbox" id="historyCheckbox" name="genre" value="history">
                        <label for="historyCheckbox">History</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('humorCheckbox')">
                        <input type="checkbox" id="humorCheckbox" name="genre" value="humor">
                        <label for="humorCheckbox">Humor and Comedy</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('nonfictionCheckbox')">
                        <input type="checkbox" id="nonfictionCheckbox" name="genre" value="nonfiction">
                        <label for="nonfictionCheckbox">Nonfiction</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('religionCheckbox')">
                        <input type="checkbox" id="religionCheckbox" name="genre" value="religion">
                        <label for="religionCheckbox">Religion</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('scienceCheckbox')">
                        <input type="checkbox" id="scienceCheckbox" name="genre" value="science">
                        <label for="scienceCheckbox">Science</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="favorite-genre-custom-checkbox" onclick="toggleCheckbox('thrillerCheckbox')">
                        <input type="checkbox" id="thrillerCheckbox" name="genre" value="thriller">
                        <label for="thrillerCheckbox">Thriller</label>
                    </div>
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-md-12 text-center">
                    <button id="submitButton" class="btn favorite-genre-disabled-button" disabled>Select at least one genre to continue</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function toggleCheckbox(checkboxId) {
            var checkbox = document.getElementById(checkboxId);
            checkbox.checked = !checkbox.checked;

            // Check if at least one checkbox is checked
            var checkboxes = document.querySelectorAll('input[name="genre"]');
            var checked = Array.from(checkboxes).some(checkbox => checkbox.checked);

            // Enable or disable the button based on checkbox status
            var submitButton = document.getElementById('submitButton');
            if (checked) {
                submitButton.classList.remove('favorite-genre-disabled-button');
                submitButton.classList.add('favorite-genre-enabled-button');
                submitButton.disabled = false;
                submitButton.textContent = 'Continue';
            } else {
                submitButton.classList.remove('favorite-genre-enabled-button');
                submitButton.classList.add('favorite-genre-disabled-button');
                submitButton.disabled = true;
                submitButton.textContent = 'Select at least one genre to continue';
            }
        }
    </script>
</body>
