<footer class="mt-5 d-flex flex-column" style="background-color: #f9f8f4;">
<div class="mx-auto fs-2" style="font-family: Helvetica, sans-serif; color: #767676;">
CONNECT
</div>
<div class="mx-auto" style="color: #767676;">
    <a href="https://twitter.com/chistev12" target="_blank" rel="noopener noreferrer" style="color: #767676;">
        <i class="bi bi-twitter fs-2"></i>
      </a>      
</div>
<div style="font-family: Helvetica, sans-serif; color: #767676;">
    © 2024 Chistev, Inc.
</div>
</footer>