<%- include('layout') %>

<title><%= title %></title>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto fs-1" href="/myreads">my<span class="fw-bold">reads</span></a>
        </div>
    </nav>
    <p class="create-account text-center fs-1">Create Account</p>
    <div id="register-error-message" class="mx-auto p-2 fw-bold" style="display: <% if(errors && errors.length > 0) { %>block<% } else { %>none<% } %>;">
        <% if(errors && errors.length > 0) { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="container" style="width: 290px;">
        <form class="text-center" action="/register" method="post">
            <div class="mb-3 d-flex flex-column">
                <label for="fullName" class="form-label me-auto">Your name</label>
                <input type="text" class="form-control register-border-custom" id="fullName" name="fullName"  placeholder="First and last name" style="border-radius: 50px;">
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="email" class="form-label register-form-label me-auto">Email</label>
                <input type="email" class="form-control register-border-custom" id="email" name="email" style="border-radius: 50px;">
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="password" class="form-label me-auto">Password</label>
                <input type="password" class="form-control register-border-custom" id="password" name="password" placeholder="At least 6 characters" style="border-radius: 50px;">
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="re-enter-password" class="form-label me-auto">Re-enter password</label>
                <input type="password" class="form-control register-border-custom" id="re-enter-password" name="re-enter-password" style="border-radius: 50px;">
            </div>

            <button type="submit" class="register-custom-button mb-5">Create account</button>
        </form>
    </div>