.custom-navbar-brand {
    color: #422e20;
    font-family: Helvetica, sans-serif;
}

.custom-navbar-brand span {
    color: #372213;
    font-family: Helvetica, sans-serif;
}

.nav-link.my-books {
    color: #7a6a5d;
    font-family: Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.my-books:hover {
    background-color: #382110;
    color: white;
}

.signup-body {
    background-color: #e9e7db;
    padding: 20px;
}

.sign-up-custom-card {
    color: #333333;
    font-family: Helvetica, sans-serif;
}

.sign-up-custom-card h2{
    color: #333333;
}

.sign-up-custom-card p{
    color: #333333;
}

.btn-sign-up {
    background-color: #382110;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.btn-sign-up:hover {
    background-color: #54351e;
    color: #f0f0f0;
}

.sign-up-small{
        font-family: Helvetica, sans-serif;
        font-size: smaller;
}

.create-account {
    color: #111111;
    font-family: copernicus, serif;
}

.register-form-label {
    color: #1e1915;
    font-family: proxima nova, sans-serif;
}

.register-border-custom {
    border: 1px solid #333333;
}

.register-custom-button {
background-color: #1e1915;
border-radius: 15%;
color: white;
width: 100%;
}

.register-custom-button:hover {
    background-color: #333333; /* Change background color on hover */
}

#register-error-message {
    width: 290px;
    background-color: #fff5f3;
    color: #382110;
}

.otp-request-body{
    background-color: #ffffff;
}

.otp-request-verify-email{
    font-family: Helvetica, sans-serif; 
    width: 440px;
}

.otp-request-resent-otp{
    font-family: Helvetica, sans-serif;
}