.custom-navbar-brand {
    color: #422e20;
    font-family: Helvetica, sans-serif;
}

.custom-navbar-brand span {
    color: #372213;
    font-family: Helvetica, sans-serif;
}

.nav-link.my-books {
    color: #7a6a5d;
    font-family: Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.my-books:hover {
    background-color: #382110;
    color: white;
}

.signup-body, .signin-body {
    background-color: #e9e7db;
    padding: 20px;
}

.sign-up-custom-card {
    color: #333333;
    font-family: Helvetica, sans-serif;
}

.sign-up-custom-card h2{
    color: #333333;
}

.sign-up-custom-card p{
    color: #333333;
}

.btn-sign-up {
    background-color: #382110;
    color: white;
    font-family: Helvetica, sans-serif;
    width: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.btn-sign-up:hover {
    background-color: #54351e;
    color: #f0f0f0;
}

.sign-up-small{
        font-family: Helvetica, sans-serif;
        font-size: smaller;
}

.create-account {
    color: #111111;
    font-family: copernicus, serif;
}

.register-form-label {
    color: #1e1915;
    font-family: proxima nova, sans-serif;
}

.register-border-custom {
    border: 1px solid #333333;
}

.register-custom-button {
background-color: #1e1915;
border-radius: 15%;
color: white;
width: 100%;
}

.register-custom-button:hover {
    background-color: #333333; /* Change background color on hover */
}

#register-error-message {
    width: 290px;
    background-color: #fff5f3;
    color: #382110;
}

.otp-request-body{
    background-color: #ffffff;
}

.otp-request-verify-email{
    font-family: Helvetica, sans-serif; 
    width: 440px;
}

.otp-request-resent-otp{
    font-family: Helvetica, sans-serif;
}

.favorite-genre-body{
    background-color: #ffffff;
}

.favorite-genre-body .navbar{
    background-color: #f4f1ea;
}

.favorite-genre-container-myreads{
    max-width: 1000px; 
    margin: 0 auto;
}

.favorite-genre-container-myreads .nabvar-text{
    color: #382125;
    font-family: Helvetica, Arial, sans-serif;
}

.favorite-genre-message{
    color: #382125;
    font-family: Georgia, 'Times New Roman', serif;
}

.favorite-genre-second-message{
    color: #4d5443; 
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e4f4da;
    width: 80%;
    font-size:smaller;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.favorite-genre-custom-checkbox {
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
}

.favorite-genre-custom-checkbox:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}

.favorite-genre-disabled-button{
    background-color: #f3f3f3;
    color: #cccccc;
    font-family: Helvetica, Arial, sans-serif;
}

.favorite-genre-enabled-button {
    background-color: #cccccc;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

.btn-google {
    border: 1px solid #000000;
    width: 50%;
    color: #000000;
}

.signin-custom-button {
    background-color: #ffffff;
    border-radius: 15%;
    color: #1e192b;
    width: 100%;
    }
    
.signin-custom-button:hover {
    background-color: #1e192b; 
    color: #ffffff; 
}

.forgot-password-create-account{
    width: 25%; 
    line-height: normal;
}

.password-reset-create-account{
    width: 200px; line-height: normal;
}

.dropdown-item.navbar-dropdown:hover {
    text-decoration: underline;
    background-color: transparent !important;
}

.new-releases .book-number{
    color: #707070; 
    font-family: Georgia, serif; 
    font-style: italic; 
    font-weight: 600px; 
    font-size: 25px; 
    line-height: 26px;
}

.new-releases .book-description{
    font-family: Georgia, serif; 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 28px; 
    color:#1e1915
}

.new-releases .book-authur{
    font-family: Georgia, serif; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 23px; 
    color:#1e1915 !important
}

.new-releases .rating{
    font-weight: 600; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    line-height: 18px; 
    color: #1e1915
}

.new-releases .content{
    font-family: Arial, sans-serif; 
    font-style: italic; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 23px; 
    color:#1e1915;
}

.image {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adding shadow to the image */
    transition: transform 0.3s ease; /* Adding transition effect */
}

.image-link:hover .image {
    transform: translateY(-5px); /* Moving the image up on hover */
}

#expandable-content {
    overflow: hidden;
    height: 23px; /* Default line height */
    transition: height 0.3s ease; /* Adding transition effect */
    margin-bottom: 0; /* Remove margin bottom */
}

#show-more-button {
    margin-top: -10px; /* Adjust button position */
}

.btn-want-to-read {
    background-color: #3f8363;
    color: #ffffff;
    border-radius: 15%;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.btn-want-to-read:hover {
    background-color: #609f7d !important; /* Change background color on hover */
}

.read-more-button {
    background-color: #333333;
    border-radius: 15%;
    color: #1e192b;
    width: 15%;
    }
    
.read-more-button:hover {
    background-color: #1e192b; 
    color: #ffffff; 
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rating-bar .progress {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 8px;
    background-color: #e9ecef;
}
.rating-bar .progress-bar {
    background-color: #e87400;
}
.rating-bar .rating-text {
    min-width: 40px;
}

.search-filter-container {
    display: flex;
    align-items: center;
}
.search-input {
    border-radius: 50px;
    border: 2px solid #8c817a;
    padding-left: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.search-input input {
    border: none;
    outline: none;
    flex-grow: 1;
    border-radius: 50px;
    padding-left: 10px;
    height: 30px; 
}
.filter-button {
    border-radius: 50px;
    border: 1px solid #8c817a;
    background-color: white;
    padding: 0.375rem 0.75rem;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.filter-button i {
    margin-right: 5px;
}

.bi-star {
    cursor: pointer;
    transition: color 0.2s;
}

.star {
    font-size: 2rem;
    color: #e87400;
    position: relative;
    display: inline-block;
}

.empty-star {
    color: #e0e0e0;
}

.half-star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
}

.half-star .half-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}

.genre-link:hover {
    text-decoration-color: #7FD7CC !important; 
}

.message-btn:hover{
    background-color: #2b1a0b !important;
}

.modal-content {
    padding: 20px;
    width: 80%;
}
.modal-header {
    border-bottom: none;
}
.modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal-title {
    font-weight: bold;
    text-align: center;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-body button {
    margin: 5px 0;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #000;
    color: #000000;
}
.modal-body button.active {
    background-color: #d3d3d3;
    border-color: #000;
}
.modal-body button svg {
    margin-right: 10px;
}
.modal-footer {
    display: flex;
    justify-content: center;
    border-top: none;
}
.modal-footer .btn {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 25px;
}

.review_title_link:hover{
    text-decoration: underline !important;
}

.comment-box {
    width: 100%;
    margin-top: 10px;
}

.comment-input-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-image-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder background color */
    margin-right: 10px;
}

.comment-input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10%;
    resize: vertical; /* Allow vertical resizing */
}

.comment-submit {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.delete-link {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.delete-link i {
    margin-right: 5px;
}

.delete-link:hover {
    background-color: #f0f0f0;
    color: #1e1915;
}

.fixed-book-image-container {
    position: sticky;
    top: 1px;
}