<%- include('../layout') %>

    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto fs-1" href="/">my<span class="fw-bold">reads</span></a>
        </div>
    </nav>
    <p class="create-account text-center fs-1">Verify email address</p>
    <p class="mx-auto text-center otp-request-verify-email">To verify your email, we've sent a One Time Password (OTP) to <%= email %> <a href="/register" class="text-decoration-underline" style="color:#111111;">(Change)</a></p>
    <div id="error-message" class="mx-auto fw-bold" style="width: 290px; background-color: #fff5f3; color: #382110; display: <% if(errors && errors.length > 0) { %>block<% } else { %>none<% } %>;">
        <% if(errors && errors.length > 0) { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div id="error-message" class="mx-auto p-2 fw-bold" style="width: 290px; background-color: #fff5f3; color: #382110; <% if (newOTPRequest) { %> display: block; <% } else { %> display: none; <% } %>">
        <% if (newOTPRequest) { %>
            <p>A new OTP has been sent to your email.</p>
        <% } %>
    </div>
    <div class="container" style="width: 290px;">
        <form class="text-center" action="/otp-request" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3 d-flex flex-column">
                <label for="otp" class="form-label me-auto fw-bold">Enter OTP</label>
                <input type="number" class="form-control register-border-custom" id="otp" name="otp" style="border-radius: 50px;">
            </div>

            <button type="submit" class="register-custom-button">Create account</button>
            <p class="mx-auto text-center mt-1 otp-request-resent-otp"><a href="/resend-otp" class="text-decoration-underline" style="color:#111111;">Resend OTP</a></p>
        </form>
    </div>